// Base
// ========================================
// HTML element styles
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');


Reset
*, *:before, *:after {
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
}


// Focus
.focus {
	box-shadow: 0 0 0 1px rgba(white, .5), 0 0 0 3px rgba($blue, .5);
	outline: none;
}
[tabindex]:focus {
	@extend .focus;
}


// Structure
body, html {
	font-family: $font-family;
	font-size: $font-size;
	color: $body-color;
	margin: 0;
	padding: 0;
}
hr {
	border: 0;
	margin: $spacing 0 !important;
	border-bottom: 1px solid rgba(black, 0.1);
}
.hr {
	border-bottom: 1px solid rgba(black, 0.1);
}
.vr {
	border-left: 1px solid rgba(black, 0.1);
}
a {
	cursor: pointer;
	color: $link-color;
	&:hover {
		color: $link-color;
	}
	&:focus {
		@extend .focus;
	}
}
.money {
	color: $green;
	font-weight: bold;
}


// Lists
ul {
	padding-left: 1.5rem;
}
ol {

}
li {

}


// Typography
b, strong, .bold {
	font-weight: bold;
}
i, em, .italic {
	font-style: italic;
}
p {
	line-height: 1.4;
}
br {

}
blockquote {

}
.nowrap {
	white-space: nowrap;
}
*:last-child {
	margin-bottom: 0;
}
*:first-child {
	margin-top: 0;
}
@for $i from 1 through 6 {
	h#{$i} {
		margin-bottom: 1rem;
		font-family: $heading-font-family;
		font-weight: bold;
		font-size: $font-size * 3.5 - (($i - 1) * 8);
		svg {
			width: .8em;
			height: .8em;
			vertical-align: baseline;
		}
	}
	.h#{$i} {
		font-size: $font-size * 3.5 - (($i - 1) * 8);
	}
}
.subheading {
	font-size: .8rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.subtext {
	font-size: .8rem;
}


// Position
.relative {
	position: relative !important;
}
.absolute {
	position: absolute !important;
}
.fixed {
	position: fixed !important;
}
@each $side in $sides {
	.#{$side} {
		#{$side}: 0;
	}
	.#{$side}-100 {
		#{$side}: 100%;
	}
}
@each $size-name, $size-value in $screen-sizes {
	@media (max-width: $size-value) {
		.#{$size-name}-relative {
			position: relative;
		}
		.#{$size-name}-absolute {
			position: absolute;
		}
		.#{$size-name}-fixed {
			position: fixed;
		}
		@each $side in $sides {
			.#{$size-name}-#{$side} {
				#{$side}: 0;
			}
			.#{$size-name}-#{$side}-100 {
				#{$side}: 100%;
			}
		}
	}
}
.fullscreen {
	height: 100vh;
	width: 100vw;
}
.wallpaper {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	background-size: 100%;
}
.cover {
	background-size: cover;
	background-position: center center;
}


// Display
.none {
	display: none;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
@each $size-name, $size-value in $screen-sizes {
	@media (max-width: $size-value) {
		.#{$size-name}-none {
			display: none;
		}
		.#{$size-name}-block {
			display: block;
		}
		.#{$size-name}-inline-block {
			display: inline-block;
		}
	}
}


// Overflow
.overflow-hidden {
	overflow: hidden;
}
.overflow-auto {
	overflow: auto;
}
.overflow-visible {
	overflow: visible;
}
.overflow-x, .scroll-x {
	overflow-x: scroll;
}
.overflow-y, .scroll-y {
	overflow-y: scroll;
}
.overflow, .scroll {
	overflow: scroll;
}


// Alignment
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}
.justify {
	text-align: justify;
}
.align-top {
	vertical-align: top;
}
.align-middle {
	vertical-align: middle;
}
.align-bottom {
	vertical-align: bottom;
}
.center {
	margin: 0 auto;
}
.middle-center, .center-middle {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.absolute.center {
	left: 50%;
	transform: translateX(-50%);
}


// Rotation
@for $i from 1 through 8 {
	$radius: $i * 45;
	.rotate-#{$radius} {
		transform: rotate($radius deg);
	}
}


// Z-index
@for $i from 1 through 10 {
	.z-#{$i} {
		z-index: $i;
	}
}


// Floats
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
}


// Rounded
.round {
	border-radius: $border-radius !important;
}
.rounded {
	border-radius: 9999px !important;
}
@each $corner in $corners {
	.round-#{$corner} {
		border-#{$corner}-radius: $border-radius;
	}
}
@each $side, $key in $side-corners {
	$corner-1: nth($key, 1);
	$corner-2: nth($key, 2);
	.round-#{$side} {
		border-#{$corner-1}-radius: $border-radius;
		border-#{$corner-2}-radius: $border-radius;
	}
}
.square {
	border-radius: 0 !important;
}
@each $corner in $corners {
	.square-#{$corner} {
		border-#{$corner}-radius: 0;
	}
}
@each $side, $key in $side-corners {
	$corner-1: nth($key, 1);
	$corner-2: nth($key, 2);
	.square-#{$side} {
		border-#{$corner-1}-radius: 0;
		border-#{$corner-2}-radius: 0;
	}
}


// Rotation
@for $i from 1 through 8 {
	$degrees: 45 * $i;
	.rotate-#{$degrees} {
		transform: rotate($degrees);
	}
}


// Widths
@for $i from 1 through 12 {
	.xlarge-#{$i}, .width-#{$i} {
		width: percentage($i/12) !important;
	}
}
@each $screen-size-name, $screen-size-value in $screen-sizes {
	@media (max-width: #{$screen-size-value}) {
		@for $i from 1 through 12 {
			.#{$screen-size-name}-#{$i} {
				width: percentage($i/12) !important;
			}
			.#{$screen-size-name}-1-#{$i} {
				width: percentage(1/$i) !important;
			}
		}
	}
}
.max {
	max-width: $max;
	margin: 0 auto;
}


// Colors
@each $color-name, $color-value in $colors {
	.bg-#{$color-name} {
		background: $color-value;
	}
	@for $i from 1 through 10 {
		.bg-#{$color-name}-#{$i} {
			background: rgba($color-value, $i/10);
		}
	}
	.bg-#{$color-name}-hover:hover {
		background: $color-value;
	}
	.fill-#{$color-name} {
		fill: $color-value;
	}
	.fill-#{$color-name}-hover:hover {
		filL: $color-value;
	}
	.border-#{$color-name} {
		border-color: $color-value;
	}
	.color-#{$color-name} {
		color: $color-value;
	}
}
.bg-none {
	background: none;
}
.color-none {
	color: none;
}


// Borders
@each $side in $sides {
	.border-#{$side} {
		border-#{$side}: 1px solid $border-color;
	}
}
.border-none {
	border: none;
}


// Shadows
@for $i from 1 through length($sizes) {
	$size: nth($sizes, $i);
	.shadow-#{$size} {
		box-shadow: 0 (1px * $i) (4px * $i) rgba(black, 0.2);
	}
}
.shadow {
	@extend .shadow-xsmall;
}
.text-shadow {
	text-shadow: 0 1px 4px rgba(black, 0.5);
}


// Images
img {
	max-width: 100%;
}
.profile-image {
	border-radius: 999px;
	overflow: hidden;
	img {
		display: block;
	}
}


// Icons
svg {
	width: 16px;
	height: 16px;
	fill: currentColor;
	vertical-align: middle;
	@for $i from 1 through 16 {
		&.size-x#{$i} {
			width: $spacing * $i;
			height: $spacing * $i;
		}
	}
}


// Loader
$offset: 187;
$duration: 1.4s;

@keyframes loader {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(270deg); }
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
	100% { stroke: #4285F4; }
}

@keyframes dash {
	0% { stroke-dashoffset: $offset; }
	50% {
		stroke-dashoffset: $offset/4;
		transform:rotate(135deg);
	}
	100% {
		stroke-dashoffset: $offset;
		transform:rotate(450deg);
	}
}

.loader svg {
	animation: loader $duration linear infinite;
	width: 48px;
	height: 48px;
	.path {
		stroke-dasharray: $offset;
		stroke-dashoffset: 0;
		transform-origin: center;
		animation:
			dash $duration ease-in-out infinite, 
			colors ($duration*4) ease-in-out infinite;
	}
}