// Button
.button {
	background: $button-background;
	color: $button-color;
	padding: $spacing ($spacing * 2);
	border-radius: $border-radius;
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	line-height: 1;
	text-decoration: none;
	border: 0;
	transition: $transition;
	position: relative;
	text-align: center;
	text-shadow: none;
	&:hover {
		background: lighten($button-background, 10%);
		color: lighten($button-color, 10%);
		@extend .shadow;
		z-index: 1;
	}
	&:focus {
		@extend .focus;
		z-index: 1;
	}
	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
		+ span {
			margin-left: $spacing;
		}
	}
	svg {
		vertical-align: middle;
		width: 1em;
		height: 1em;
		+ span {
			margin-left: $spacing;
		}
	}
	&.secondary {
		background: $button-secondary-background;
		color: $button-secondary-color;
	}
	@for $i from 1 through length($sizes) {
	    $size: nth($sizes, $i);
	    &.#{$size} {
	    	padding: (($spacing / 4) + (($spacing/4) * $i)) ((($spacing / 4) + (($spacing/4) * $i)) * 2);
	    	font-size: 1rem - 0.6rem + (.2rem * $i);
	    }
	}
	@each $color-name, $color-value in $colors {
		&.#{$color-name} {
			background: $color-value;
			color: white;
		}
	}
}