$sizes:
	"xsmall",
	"small",
	"medium",
	"large",
	"xlarge";

$screen-sizes: (
	"xsmall": $screen-xsmall,
	"small": $screen-small,
	"medium": $screen-medium,
	"large": $screen-large,
	"xlarge": $screen-xlarge
);

$sides:
	"top",
	"right",
	"bottom",
	"left";

$corners:
	"top-left",
	"top-right",
	"bottom-right",
	"bottom-left";

$side-corners: (
	top: ("top-left", "top-right"),
	right: ("top-right", "bottom-right"),
	bottom: ("bottom-right", "bottom-left"),
	left: ("bottom-left", "top-left")
);

$colors: (
	black: $black,
	gray: $gray,
	white: $white,
	yellow: $yellow,
	orange: $orange,
	red: $red,
	pink: $pink,
	purple: $purple,
	blue: $blue,
	green: $green,
	alt: $alt
);

$statuses: (
	error: $error,
	success: $success,
	info: $info,
	warning: $warning
);