.ui-datepicker {
	@extend .shadow-medium;
	background: white;
	border-radius: $border-radius;
	.ui-datepicker-header {
		display: flex;
		align-items: center;
		.ui-datepicker-prev {
			order: 1;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			font-size: 0;
			padding: 20px 16px;
			&:before {
				content: '';
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-right: 8px solid lighten(black, 75%);
				width: 0;
				height: 0;
			}
			&:hover {
				&:before {
					border-right-color: $green;
				}
			}
		}
		.ui-datepicker-next {
			order: 3;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			font-size: 0;
			padding: 20px 16px;
			&:before {
				content: '';
				border-top: 6px solid transparent;
				border-bottom: 6px solid transparent;
				border-left: 8px solid lighten(black, 75%);
				width: 0;
				height: 0;
			}
			&:hover {
				&:before {
					border-left-color: $green;
				}
			}
		}
		.ui-datepicker-title {
			order: 2;
			flex: 1;
			text-align: center;
		}
	}
	.ui-datepicker-calendar {
		th {
			text-align: center;
			padding: $spacing;
			color: lighten(black, 50%);
		}
		td {
			a {
				display: block;
				padding: $spacing;
				text-align: center;
				color: $body-color;
				transition: $transition;
				text-decoration: none;
				&:hover {
					border-radius: 999px;
					background: $green;
					color: white;
				}
			}
			&.ui-datepicker-current-day {
				a, a:hover {
					color: $green;
				}
			}
		}
	}
}