.ui-widget-overlay {
	background: rgba(black, 0.2);
	background: radial-gradient(rgba(black, 0.2), rgba(black, 0.4));
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	@extend .animated;
	@extend .fadeIn;
}
.ui-dialog {
	.ui-dialog-inner {
		@extend .animated;
		@extend .fadeInUp;
		@extend .shadow-xlarge;
		display: flex;
		flex-direction: column;
	}
	.loader-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(black, .2);
		.loader {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	z-index: 1000;
	position: fixed;
	top: $spacing * 2 !important;
	left: 50% !important;
	transform: translateX(-50%);
	border-radius: $border-radius;
	display: flex;
	flex-direction: column;
	max-height: calc(100vh - (#{$spacing * 4}));
	max-width: calc(100vw - (#{$spacing * 4}));
	@for $i from 1 through length($sizes) {
		$size: nth($sizes, $i);
		&.#{$size} {
			width: 240px + (80 * $i) !important;
		}
	}
	&:focus {
		outline: 0;
	}
	.ui-dialog-titlebar {
		position: relative;
		padding: $spacing * 2;
		@extend .shadow;
		@extend .h4;
		background: $white;
		z-index: 3;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		display: flex;
		.ui-dialog-title {
			flex: 1;
			align-self: center;
		}
		.ui-button {
			@extend .button;
			@extend .button.secondary;
			@extend .button.small;
			align-self: center;
			&:focus {
				outline: none;
			}
			svg {
				display: block;
			}
		}
	}
	&:not(.ui-dialog-buttons) {
		.ui-dialog-content {
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
	}
	.ui-dialog-content {
		padding: $spacing * 2;
		background: white;
		min-height: none !important;
		overflow: auto;
		@extend .shadow;
		z-index: 2;
		position: relative;
	}
	.ui-dialog-buttonpane {
		background: $alt;
		padding: $spacing * 2;
		text-align: right;
		position: relative;
		z-index: 1;
		border-bottom-left-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		.button {
			margin-left: $spacing;
			&.secondary {

			}
		}
	}
}