.dropdown {
	position: relative;
	&:hover {
		> .menu {
			display: block !important;
		}
	}
	.menu {
		@extend .animated;
		@extend .fadeIn;
		display: none;
		background: white;
		box-shadow: 0 4px 16px rgba(black, 0.2);
		position: absolute;
		top: 100%;
		left: 0;
		border-radius: $border-radius;
		z-index: 1;
		ul {
			margin-top: $spacing;
			margin-bottom: $spacing;
			li {
				.menu {
					top: -$spacing;
					left: 100%;
				}
			}
		}
	}
	&.anchor-right {
		> .menu {
			left: auto;
			right: 0;
			.menu {
				left: auto;
				right: 100%;
			}
		}
	}
}
.tip-top-left {
	&:before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: -6px;
		left: 16px;
		transform: rotate(45deg);
		background: white;
		border-left: 1px solid rgba(black, 0.2);
		border-top: 1px solid rgba(black, 0.2);
	}
}
.tip-top-right {
	&:before {
		content: '';
		width: 12px;
		height: 12px;
		posotion: absolute;
		top: -6px;
		right: 16px;
		left: auto;
		transform: rotate(45deg);
		background: white;
		border-left: 1px solid rgba(black, 0.2);
		border-top: 1px solid rgba(black, 0.2);
	}
}
@each $color-name, $color-value in $colors {
	.tip-#{$color-name} {
		.menu {
			&:before {
				background: $color-value !important;
			}
		}
	}
}