.flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	&.align-start {
		align-items: flex-start;
	}
	&.align-middle {
		align-items: center;
	}
	&.align-end {
		align-items: flex-end;
	}
	&.align-baseline {
		align-items: baseline;
	}
	&.justify-start {
		justify-content: flex-start;
	}
	&.justify-center {
		justify-content: center;
	}
	&.justify-end {
		justify-content: flex-end;
	}
	&.justify-between {
		justify-content: space-between;
	}
	&.justify-around {
		justify-content: space-around;
	}
	&.justify-evenly {
		justify-content: space-evenly;
	}
	&.padded {
		margin-left: -$spacing;
		margin-top: -$spacing;
		> * {
			margin-left: $spacing;
			margin-top: $spacing;
		}
	}
	@for $i from 1 through 16 {
		&.padded-x#{$i} {
			margin-left: -$spacing * $i;
			margin-top: -$spacing * $i;
			> * {
				padding-left: $spacing * $i;
				padding-top: $spacing * $i;
			}
		}
	}
	&.flow-reverse {
		flex-direction: row-reverse;
	}
	&.flow-vertical {
		flex-direction: column;
	}
	&.flow-vertical-reverse {
		flex-direction: column-reverse;
	}
	&.nowrap {
		flex-wrap: nowrap;
	}
	&.wrap {
		flex-wrap: wrap;
	}
}
.box {
	flex: 1;
}
@for $i from 0 through 10 {
	.box-#{$i} {
		flex: $i;
	}
}