/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

// Global
input, select {
	vertical-align: middle;
	font-size: 1rem;
	background: transparent;
	&:focus {
		outline: none;
	}
}
label {
	vertical-align: middle;
}

*:focus { 
	outline: none;
}

.selectize-control {
	&:focus, &:active {
		box-shadow: none !important;
		outline: none !important;
	}
	.selectize-input {
		background-color: transparent !important;
		box-shadow: none !important;
		outline: none !important;
	}
	&.multi {
		.selectize-input {
			.item {
				background: $input-border-color;
			}
		}
	}
}
.selectize-dropdown {
	border-top: 2px solid $blue !important;
	.option {
		transition: $transition !important;
		padding: 8px 16px !important;
		&.active {
			color: $body-color !important;
			background-color: $alt !important;
		}
	}
}

.input {
	display: flex;
	flex-direction: column;
	position: relative;
	display: inline-block;
	&:focus, &:active {
		box-shadow: none !important;
		outline: none !important;
	}

	// Toggle
	&.toggle {
		input {
			width: 40px;
			height: 20px;
			border: 2px solid $input-border-color;
			background: white;
			border-radius: 999px;
			position: relative;
			appearance: none;
			margin: 0;
			transition: $transition;
			cursor: pointer;
			+ label {
				margin-left: $spacing;
				cursor: pointer;
			}
			
			// Toggle dot (unchecked)
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 3px;
				transform: translateY(-50%);
				width: 12px;
				height: 12px;
				background: $input-border-color;
				transition: $transition;
				border-radius: 999px;
			}
			&:checked {
				background: $blue;
				border-color: $blue;

				// Toggle dot (checked)
				&:after {
					background: white;
					right: 3px;
					left: auto;
				}
			}
		}
	}

	// Radio
	&.radio {
		input {
			width: 20px;
			height: 20px;
			border: 2px solid $input-border-color;
			background: white;
			border-radius: 999px;
			position: relative;
			appearance: none;
			margin: 0;
			transition: $transition;
			cursor: pointer;
			&:active {
				border-color: $blue;
			}
			+ label {
				margin-left: $spacing;
				cursor: pointer;
			}

			// Radio dot (unchecked)
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 8px;
				height: 8px;
				opacity: 0;
				background: white;
				transition: $transition;
				border-radius: 999px;
			}
			&:checked {
				background: $blue;
				border-color: $blue;

				// Radio dot (checked)
				&:after {
					opacity: 1;
				}
			}
		}
	}

	// Checkbox
	&.checkbox {
		input {
			width: 20px;
			height: 20px;
			border: 2px solid $input-border-color;
			background: transparent;
			border-radius: $border-radius;
			position: relative;
			appearance: none;
			margin: 0;
			transition: $transition;
			cursor: pointer;
			&:active {
				border-color: $blue;
			}
			+ label {
				margin-left: $spacing;
				cursor: pointer;
			}

			// Check mark (unchecked)
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				width: 6px;
				height: 12px;
				opacity: 0;
				border-right: 2px solid white;
				border-bottom: 2px solid white;
				margin-top: -1px;
				transition: $transition;
			}
			&:checked {
				background: $blue;
				border-color: $blue;

				// Check mark (checked)
				&:after {
					opacity: 1;
				}
			}
		}
	}

	// Text & select
	&.text, &.select {
		width: 196px;
		margin-top: $spacing * 2;
		label {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			transition: $transition;
			opacity: 0.5;
			pointer-events: none;
			z-index: 2;
		}
		&.hasValue label {
			bottom: 100%;
			top: auto;
			margin-left: 0;
			font-size: .8em;
			transform: none;
			opacity: 1;
			color: $blue;	
		}
	}

	// Text
	&.text {
		input {
			line-height: 1.3;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-radius: 0;
			border-bottom: 2px solid $input-border-color;
			padding: $spacing;
			background: transparent;
			padding-left: 0;
			padding-right: 0;
			transition: $transition;
			width: 100%;
			&:focus {
				border-color: $blue;
			}
			// Fix auto fill has value, and yellow background
			@keyframes onAutoFillStart {  from {/**/}  to {/**/}}
			@keyframes onAutoFillCancel {  from {/**/}  to {/**/}}
			&:-webkit-autofill {
			    // Expose a hook for JavaScript when autofill is shown
			    // JavaScript can capture 'animationstart' events
			    animation-name: onAutoFillStart;
			    background: white;
			}
			&:not(:-webkit-autofill) {
			    // Expose a hook for JS onAutoFillCancel
			    // JavaScript can capture 'animationstart' events
			    animation-name: onAutoFillCancel;
			}
		}
	}

	// Select
	&.select {
		text-align: left;
		select {
			appearance: none;
			background: white;
			border: 0;
			border-radius: 0;
			border-bottom: 2px solid $input-border-color;
			transition: $transition;
			padding: $spacing;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			cursor: pointer;
			&:focus {
				border-color: $blue;
			}
		}
		.selectize-control {
			&.multi {
				.selectize-input {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}