// Menu
// ========================================
.menu {
	&.horizontal {
		> ul {
			display: flex;
			flex-direction: row;
			align-items: center;
			> li {
				> a {
					padding: $spacing;
				}
			}
		}
	}
	&.drilldown {
		.btnBack {
			svg {
				transform: rotate(180deg);
			}
		}
		ul {
			position: absolute;
			transition: $transition;
			ul {
				position: absolute;
				top: 0;
				left: 100%;
				width: 100%;
				display: none;
			}
			li {
				position: static;
				&.active {
					ul {
						display: block;
					}
				}
			}
		}
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			position: relative;
			a {
				line-height: 1;
				display: flex;
				padding: $spacing ($spacing * 4) $spacing ($spacing * 2);
				transition: $transition;
				text-decoration: none;
				white-space: nowrap;
				svg + span { // Icon before text
					margin-left: $spacing;
				}
				span { // Icon text
					vertical-align: middle;
					flex: 1;
				}
				span + svg { // Icon after text
					margin-left: $spacing * 3;
					margin-right: - $spacing * 3;
				}
			}
			&.active, &:hover {
				> a {
					background: $menu-background-active;
				}
			}
			&:hover {
				> a {
					background: $menu-background-hover;
				}
			}
		}
	}
}