// Padding
.padding {
	padding: $spacing;
}
@each $side in $sides {
	.padding-#{$side} {
		padding-#{$side}: $spacing;
	}
	.padding-#{$side}-none {
		padding-#{$side}: 0 !important;
	}
}
@for $i from 1 through 16 {
	.padding-x#{$i} {
		padding: $spacing * $i;
	}
	@each $side in $sides {
		.padding-#{$side}-x#{$i} {
			padding-#{$side}: $spacing * $i;
		}
	}
}
.padding-none {
	padding: 0 !important;
}

// Margin
.margin {
	margin: $spacing;
}
@each $side in $sides {
	.margin-#{$side} {
		padding-#{$side}: $spacing;
	}
	.margin-#{$side}-none {
		margin-#{$side}: 0 !important;
	}
}
@for $i from 1 through 16 {
	.margin-x#{$i} {
		margin: $spacing * $i;
	}
	@each $side in $sides {
		.margin-#{$side}-x#{$i} {
			margin-#{$side}: $spacing * $i;
		}
	}
}
.margin-none {
	margin: 0 !important;
}