.alert {
	padding: .5rem 1rem;
	border-radius: $border-radius;
	@each $status-name, $status-value in $statuses {
		&.#{$status-name} {
			background: $status-value;
			color: white;
		}
	}
}
.input {
	@each $status-name, $status-value in $statuses {
		&.#{$status-name} {
			&.select {
				.selectize-input {
					border-color: $status-value;
				}
			}
			&.text {
				input {
					border-color: $status-value;
				}
			}
			&.checkbox {
				input {
					border-color: $status-value;
				}
			}
		}
	}
}