.stepper {
	.step {
		position: relative;
		&:before {
			content: '';
			border-left: 2px solid rgba(black, 0.2);
			position: absolute;
			top: 36px;
			bottom: 0;
			left: 10px;
		}
		&.active {
			.step-content {
				display: block;
			}
			.step-footer {
				display: block;
			}
		}
		&:not(:last-child):not(.active) {
			padding-bottom: 1rem;
		}
	}
	.step-content {
		margin-left: 2rem;
		display: none;
	}
	.step-footer {
		margin-left: 2rem;
		display: none;
	}
}