// Table
.table {
  width: 100%;
  border-collapse: collapse;
  th {
    font-weight: bold;
    padding: ($spacing * 2) $spacing;
    text-align: left;
    border-bottom: 1px solid $alt;
    @extend .subheading;
    border-top: 1px solid mix(black, white, 10%);
  }
  td {
    position: relative;
    padding: $spacing $spacing;
    text-align: left;
    border-bottom: 1px solid mix(black, white, 10%);
    transition: $transition;
  }
}

// Datatables
.dataTables_wrapper {
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
  position: relative;

  table {
    width: 100% !important;
    position: relative;
    &.loading {
      height: 400px;
      display: block;
      thead, tbody {
        display: none;
      }
    }

    > .loader-wrapper {
      background: $alt;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      transition: $transition;
      opacity: 1;
      border-radius: $border-radius;

      .loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.loaded {
    .loader-wrapper {
      opacity: 0;
      pointer-events: none;
    }
    .dataTables_filter {
      display: block;
    }
    .dataTables_length {
      display: block;
    }
  }

  // Search
  .dataTables_filter {
    display: none;
    width: 50%;
    label {
      display: flex;
    }
  }

  // Page size
  .dataTables_length {
    display: none;
    width: 50%;
    label {
      display: flex;
      justify-content: flex-end;
    }
  }

  // Table
  .dataTable {
    margin-top: $spacing;
    width: 100%;
    tr {
      cursor: pointer;
      th {
        position: relative;
        &.sorting, &.sorting_asc, &.sorting_desc {
          cursor: pointer;
          &:hover {
            background: $alt;
          }
        }
        &.sorting_asc, &.sorting_desc {
          padding-right: 1rem;
          &:after {
            content: '';
            position: absolute;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            top: 50%;
            transform: translateY(-50%);
            margin-right: .5rem;
          }
        }
        &.sorting_asc:after {
          border-width: 0 4px 6px 4px;
          border-color: transparent transparent $blue transparent;
        }
        &.sorting_desc:after {
          border-width: 6px 4px 0 4px;
          border-color: $blue transparent transparent transparent;
        }
      }
      &:hover, &.active, &.toggleRow {
        > td {
          background: $alt;
          // &:first-child {
          //   &:before {
          //     content: '';
          //     position: absolute;
          //     right: 100%;
          //     top: -1px;
          //     bottom: -1px;
          //     background: $alt;
          //     width: 100vw;
          //     border-top: 1px solid mix(black, white, 10%);
          //     border-bottom: 1px solid mix(black, white, 10%);
          //   }
          // }
          // &:last-child {
          //   &:after {
          //     content: '';
          //     position: absolute;
          //     left: 100%;
          //     top: -1px;
          //     bottom: -1px;
          //     background: $alt;
          //     width: 100vw;
          //     border-top: 1px solid mix(black, white, 10%);
          //     border-bottom: 1px solid mix(black, white, 10%);
          //   }
          // }
        }
      }
      &.toggleRow {
        @extend .animated;
        @extend .fadeIn;
        > td {
          padding: ($spacing * 2);
          background: $blue;
          .dataTable {
            tr {
              &.toggleRow {
                > td {
                  // Nested datatable
                  padding: $spacing;
                  background: $alt;
                }
              }
            }
          }
          &:first-child {
            &:before {
              background: $blue;
            }
          }
          &:last-child {
            &:after {
              background: $blue;
            }
          }
        }
      }
    }
    .row-details {
      position: relative;
      border-radius: $border-radius;
      .tabs {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
      &.loading {
        height: 200px;
        > *:not(.loader-wrapper) {
          display: none;
        }
        .loader-wrapper {
          opacity: 1;
        }
      }
      .loader-wrapper {
        opacity: 0;
        transition: $transition;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $border-radius;
        background: $alt;
        .loader {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  // Item count
  .dataTables_info {
    width: 50%;
    padding: ($spacing * 2) 0;
    @extend .subheading;
  }

  // Pages
  .dataTables_paginate {
    width: 50%;
    text-align: right;
    padding: $spacing 0;
    > span {
      display: inline-block;
      .paginate_button {
        border-radius: 0 !important;
      }
    }
    .paginate_button {
      display: inline-block;
      &.previous {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      &.next {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
      &.current {
        @extend .button;
      }
      &:not(.current) {
        @extend .button;
        @extend .button.secondary;
      }
    }
  }

  @media (max-width: $screen-medium) {
    .dataTables_info {
      width: 100%;
      text-align: center;
    }
    .dataTables_paginate {
      width: 100%;
      text-align: center;
    }
  }

  // Processing
  .dataTables_processing {
    display: none !important;
  }
}
.td-static {
  max-width: 1px;
}