.tabs {
	background: $alt;
	border: 1px solid rgba(black, 0.1);
	box-shadow: 0 2px 8px rgba(black, 0.2);
	ul.ui-tabs-nav {
		margin: 0;
		list-style: none;
		display: flex;
		flex-direction: row;
		padding: $spacing ($spacing * 2) 0;
		border-bottom: 1px solid rgba(black, 0.1);
		li {
			display: block;
			margin-bottom: -1px;
			a {
				display: block;
				border-top-left-radius: $border-radius;
				border-top-right-radius: $border-radius;
				padding: $spacing ($spacing * 2);
				text-decoration: none;
				&:focus {
					outline: none;
				}
			}
			&:focus {
				outline: none;
			}
			&.ui-state-active {
				a {
					border-left: 1px solid rgba(black, 0.2);
					border-top: 1px solid rgba(black, 0.2);
					border-right: 1px solid rgba(black, 0.2);
					background: white;
					color: $button-background;
				}
			}
		}
	}
	.ui-tabs-panel {
		background: white;
		padding: 2rem;
	}
}