.ui-tooltip {
	opacity: .8;
	color: white;
	background: lighten(black, 10%);
	padding: .25rem .5rem;
	pointer-events: none;
	position: absolute !important;
	border-radius: $border-radius;
	font-size: .8rem;
}