/* Font Colors */
$font-color:   #222;
$link-color:   #88B04B;
$link-hover:   #668438;

/* Main Colors */
$white:        #fff;
$dark-gray:    #282d2f;
$med-gray:     #2f3537;
$light-gray: #545e63;

/* Button Colors */
$primary-color:           #88B04B;
$primary-border:          #668438;
$primary-font:            #fff;
$primary-color-hover:     #617d35;
$primary-border-hover:    #546c2e;
$primary-font-hover:      #fff;



// Settings.scss
// ========================================
// Customize the look, feel, and sizing


// Colors
$black: black;
$gray: grey;
$white: white;
$yellow: #FBC02D;
$orange: #F57C00;
$red: #F44336;
$pink: #F06292;
$purple: #8E24AA;
$blue: #1E88E5;
$green: #88B04B;
$alt: #EBEDEF;

$primary: $blue;
$secondary: $gray;

$success: $green;
$info: $blue;
$warning: $orange;
$error: $red;


// Typography
$font-size: 14px;
$font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: 'Roboto Slab', serif;
$body-color: lighten(black, 30%);


// Devices
$screen-xlarge: 1280px;
$screen-large: 1024px;
$screen-medium: 768px;
$screen-small: 480px;
$screen-xsmall: 320px;
$max: 1024px;


// Menu
$menu-background-hover: rgba(black, 0.1);
$menu-background-active: rgba(black, 0.2);


// Header
$header-background: #282d2f;


// Footer
$footer-background: #282d2f;


// Inputs
$input-border-color: rgba(black, .1);


// Buttons
$button-background: $green;
$button-color: lighten($green, 35%);
$button-secondary-background: darken(white, 20%);
$button-secondary-color: darken(white, 60%);


// Misc
$border-radius: 4px;
$spacing: 8px;
$border-color: rgba(black, 0.25);
$transition: all ease .2s;


// Chat
$chat-background: lighten(black, 30%);
$chat-sidebar-background: $chat-background;
$chat-color: darken(white, 20%);
$chat-timestamp-color: lighten(black, 60%);
$chat-mention-color: $yellow;
$chat-mention-background: rgba($chat-mention-color, 0.25);
$chat-compose-background: lighten($chat-background, 25%);
$chat-label-color: darken(white, 50%);
$chat-menu-background-hover: rgba(white, .1);
$chat-menu-background-active: rgba(white, .2);
$chat-menu-color: white;
$chat-link: lighten($blue, 15%);
$chat-header-background: darken($chat-background, 10%);
$chat-header-color: white;


// Z-index
$z-selectize: 99999;