// Scaffold
@import
	"settings",
	"components/core",
	"components/animate",
	"components/base",
	"components/spacing",
	"components/flex",
	"components/menu",
	"components/slider",
	"components/input",
	"components/button",
	"components/table",
	"components/tag",
	"components/dropdown",
	"components/selectize",
	"components/tabs",
	"components/dialog",
	"components/datepicker",
	"components/tooltip",
	"components/stepper",
	"components/badge",
	"components/status",
	"components/main";

// Temp
.fr-wrapper {
	> div:not(.fr-element) {
		display: none !important;
	}
	.fr-placeholder {
		margin-top: 0 !important;
		padding-top: 16px !important;
		padding-left: 16px !important;
		padding-right: 16px !important;
		font-size: 14px;
	    line-height: normal;
	    text-align: start;
	}
}